<!-- Comment Details -->
{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="text-white" style="text-shadow: 2px 2px 4px #000;">Comment Details 💀</h1>
        <hr class="text-white">

        <!-- Profile Info -->
        <div class="card-action" style="background-color: white; align-items: center; color: black;">
            <h5 class="card-title">{{ comment.title }}</h5>
            <p class="card-text"><strong>Comment: </strong>{{ comment.content }}</p>
            <p class="card-text"><strong>Username: </strong>{{ comment.username }}</p>
            <p class="card-text"><strong>Date: </strong>{{ comment.timestamp }}</p>
        </div>
        {% if comment.id %}
            <div class="text-center mt-3">
                <a href="{% url 'comments_update' comment.id %}" class="btn btn-success" style="background-color: black; border-color: white; color: white;">Edit</a>
                <a href="{% url 'comments_delete' comment.id %}" class="btn btn-success" style="background-color: black; border-color: white; color: white;">Delete</a>
                <a href="{% url 'comment_list' %}" class="btn btn-success" style="background-color: black; border-color: white; color: white;">BACK</a>
            </div>
        {% else %}
            <p>Edit and Delete actions not available for this comment.</p>
        {% endif %}
    </div>
{% endblock %}
