<!-- About Page -->
{% extends 'base.html' %}

{% block content %}
    <h1 style="color: white; text-shadow: 2px 2px 4px #000;">Unleash the Ink Rebellion 💀</h1>
    <hr>
    <p>Welcome to Savage Ink Society, where conformity meets its demise, and rebellion is etched into every story.</p>
    <p>Join the underground movement of inked warriors who dare to challenge the mundane. We're not just a society; we're a rebellion.</p>
    <p>Explore the raw, unfiltered world of inked expressions. Connect with fellow rebels who wear their stories on their skin.</p>
    <p>This is not just about tattoos; it's a declaration of defiance. Dive into the rebellion, where ink is the weapon, and individuality is the revolution.</p>
{% endblock %}