<!-- About Page -->
{% extends 'base.html' %}

{% block content %}
<h1 style="color: white; text-shadow: 2px 2px 4px #000;">Unleash the Ink Rebellion 💀</h1>
<hr>
<p>Welcome to Savage Ink Society, the beating heart of the rebellion against conformity, where individuality reigns supreme, and ink becomes the weapon of choice.</p>
<p>At Savage Ink Society, we invite you to join the underground movement of inked warriors who boldly challenge the mundane and embrace the extraordinary. We are more than just a society; we are a rebellion against the ordinary, a canvas of rebellion where stories are etched into every tattoo.</p>
<p>Explore the raw, unfiltered world of inked expressions, a sanctuary for those who wear their stories on their skin. Connect with fellow rebels who share the passion for self-expression through body art, creating a community that thrives on the power of individuality.</p>
<p>This is not merely about tattoos; it's a declaration of defiance. Dive into the rebellion, where ink is the weapon, and individuality is the revolution. Savage Ink Society is your haven for embracing the extraordinary, celebrating diversity, and standing out in a world that often seeks conformity.</p>
{% endblock %}