body {
    background-color: rgb(101, 101, 101);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

div.nav-wrapper {
    background-color: rgb(3, 3, 3);
}

footer.page-footer {
    background-color: rgb(3, 3, 3);
    padding-top: 0;
    text-align: right;
}

